.left-side {
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 2rem;
  padding: 1.5rem 2rem 2rem;
}
.logo {
  width: 10rem;
  height: 3rem;
}


.notife-left {
  position: relative;
  padding: 20px 13px;
  border-radius: 4rem;
  background-color: #363d42;
  width: fit-content;
  margin-top: 4rem;
  text-transform: uppercase;
  align-items: center;
  z-index: 1;
  color: #fff;
  display: flex;
}
.notife-left > div {
  position: absolute;
  width: 5.4rem;
  height: 80% ;
  background-color: var(--orange);
  left: 8px;
  border-radius: 3rem;
  z-index: -1;
}
.st {
  display: flex;
  flex-direction: column;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  gap: 1.5rem;
}
.st>*{

}
.st span:nth-child(2) {
  color: white;
}
.header-detail {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1px;
  width: 80%;
}
.button-leftside{
  display: flex;
  gap: 1rem;
}
.button-leftside > button{
  width: 8rem;
  background-color: transparent;
  border: 2px solid var(--orange);
  color: #fff;
}
.button-leftside > button:hover{
  background-color: var(--orange);
}