.left-side {
  display: flex;
  flex-direction: column;
  flex: 3;
}
.logo {
  width: 10rem;
  height: 3rem;
}

.header-left {
  display: flex;
  padding: 1rem;
}
.header-left ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: white;
}
.button-left {
  padding: 1rem 0.5rem;
  border-radius: 50px;
  background-color: var(--gray);
  width: fit-content;
}
.st {
  /* display: flex; */
  /* flex-direction: column; */
  font-size: 5rem;
  text-transform: uppercase;
}
.st span:nth-child(2) {
  color: white;
}
.hero .left-side > div:nth-child(4) {
  font-size: 5rem;
  text-transform: uppercase;
  color: white;
}
